
/**/
@media  screen and (max-width:1005px ){
	ul.features-list-hero{
	
        width: 308px;
        display: flex;
        margin-bottom: 25px;
        flex-wrap: nowrap;
        text-align: center;
    }
    
    ul.features-list-hero li i{
        display: flex;
        margin: 0px 0px 0px 20px;
        padding: 0;
    }
    
    #info h2{
        font-size: 25px;
    }

    #info p{
        font-size: 10px;
    }


}

@media screen and (max-width:700px) {
    
    ul.features-list-hero {
        width: 308px;
        margin-bottom: 25px;
        flex-direction: column
    }
    #about-text{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    ul.features-list-hero li{
        margin-left: 10px;
    }

    ul.features-list-hero li i{
        font-size: 30px;
    }

    #info{
        flex-direction: column;
    }

    #logo{
        width: 190px;
        height: 90px;
    }

    .section-dark {
        height: 120rem;
    }
    
    .home-section{
        background-position:-285px 0px,
                            center;

    }
}

@media screen and (max-width:840px) {

    #local iframe{
        width: 250px;
        height: 230px;
    }

    #info h2{
        font-size: 25px;
    }

    #info p{
        font-size: 15px;
    }
    
}